#
# .gitignore
#

# Ignore every test dir and note file
**/test*
**/note*[0-9]

# Ignore distribution builds and archives
build/
**/*.tar
**/*.gz
**/*.zip
**/*.bz2
**/*.rar
**/*.tbz2
**/*.tgz
**/*.Z
**/*.7z
